@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.contiener {
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1440px;
}

button {
  border-radius: 6px;
  width: 223px;
  height: 44px;
  background-color: #ff3838;
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  border:none;
}
button:hover {
  background-color: #ff7a1b;
}
